Flask==3.0.3
Flask-Cors==4.0.1
flask-sqlalchemy==3.1.1
sqlalchemy==2.0.30
werkzeug==3.0.3 # This should be handled by the Flask depndencies, but 3.0.0 has just been released, it gets installed and result in error
firebase-admin==6.5.0
pg8000==1.31.2